html {
    background-color: #2E86C1;
}

.footer1 {
    width: 880px;
    background: black;
    color: white;
    text-align: center;
}

.navi {
    width: 880px;
    height: 35px;
    background: black;
    padding-left: -70px;
}

a {
    display: inline-block;
    padding-left: 5px;
    margin: 5px;
    text-decoration: none;
    border-radius: 10px;
    height: 20px;
    color: #009950;
}

a:hover {
    color: blue;
    border: 0px gray;
    border-radius: 10px;
    width: auto;
    height: auto;
    text-decoration: none;
}

a:active {
    background: blue;
    color: gold;
    border: 0px gray;
    border-radius: 10px;
    width: auto;
    height: auto;
    text-decoration: none;
}

.submit {
    background-color: white;
    width: 100px;
    border: none;
    border-radius: 8px;
    color: blue;
    padding: 12px 27px;
    text-align: center;
    text-decoration: bold;
    font-size: 14px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.submit:hover {
    background-color: darkblue;
    color: yellow;
}

.submit:active {
    background-color: darkred;
    color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.inputme {
    height: 30px;
    width: 250px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 5px;
    color: gray;
}